<style>
.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

ul {
  text-align: center;
}

tr {
  text-align: center;
}

table, th, td {
  border:2px solid black;
}
</style>
<h1>Articles</h1>
<div style="width:30%; margin:0 auto;">
Our blog has <%= Article.public_count %> articles and counting!

Our blog has <%= Comment.public_count %> comments and counting!
</div>

<table style="width:50%", class="center">
 <tr>
   <th>Title</th>
   <th>Body</th>
  </tr>
<ul style="list-style-type:none">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
  <tr>
    <td>
      <%= link_to article.title, article %>
    </td>
    <td>
      <%= link_to article.body, article %>
    </td>
    </tr>
  <% end %>
<% end %>
</ul>

</table>  
</div>

<div style="width:13%; margin:0 auto;">
<button>
<%= link_to "New Article" , new_article_path %>
</button>
<button onclick="history.back()"><<</button>
<button onclick="history.forward()">>></button>
</div>

